In [1]:
import pandas as pd
df = pd.DataFrame.from_dict({
    "email_body_length": [250, 112, 71, None, 112],
    "email_id_length": [12, 19, "None", 9, 19],
    "email_subject_length": [25, 20, 8, 15, 20]
})

In [2]:
df

   email_body_length email_id_length  email_subject_length
0              250.0              12                    25
1              112.0              19                    20
2               71.0            None                     8
3                NaN               9                    15
4              112.0              19                    20

In [3]:
df.dtypes

email_body_length       float64
email_id_length          object
email_subject_length      int64
dtype: object

In [4]:
df.email_id_length.str.isnumeric()

0      NaN
1      NaN
2    False
3      NaN
4      NaN
Name: email_id_length, dtype: object

In [5]:
df = df[df.email_id_length.str.isnumeric().fillna(True)].reset_index(drop=True)

In [6]:
df

   email_body_length email_id_length  email_subject_length
0              250.0              12                    25
1              112.0              19                    20
2                NaN               9                    15
3              112.0              19                    20

In [7]:
df.isnull()

   email_body_length  email_id_length  email_subject_length
0              False            False                 False
1              False            False                 False
2               True            False                 False
3              False            False                 False

In [8]:
df["email_body_length"] = df["email_body_length"].fillna(df["email_body_length"].median())

In [9]:
df

   email_body_length email_id_length  email_subject_length
0              250.0              12                    25
1              112.0              19                    20
2              112.0               9                    15
3              112.0              19                    20

In [10]:
df = df.drop_duplicates().reset_index(drop=True)

In [11]:
df

   email_body_length email_id_length  email_subject_length
0              250.0              12                    25
1              112.0              19                    20
2              112.0               9                    15

In [12]:
df = (df-df.min())/(df.max()-df.min())

In [13]:
df

  email_body_length email_id_length email_subject_length
0               1.0             0.3                  1.0
1               0.0             1.0                  0.5
2               0.0             0.0                  0.0